/*@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap");
/*$import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");*/

$font1: "Saira Extra Condensed", sans-serif;
$font2: "Sofia", cursive;
$font-size: 1rem;
$font-family: "Saira Extra Condensed", sans-serif;
$color1: #bf3b40;
$color2: #080ed9;
$color3: #f9ba71;
$color4: #f7e020;
$color5: black;
$color6: #fff;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1rem;
  font-family: $font1;
}

body {
  font-family: $font1;
  width: 100%;
  height: 100vh;
}


header {
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header .burger svg {
  stroke: $color6;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.9);
  height: 60px;
  padding-bottom: 5px;
  padding-left: 10px;
}

h1 {
  color: $color1;
  font-family: $font1;
  font-size: 1.3rem;
  text-align: center;
}

h2 {
  font-family: $font2;
  color: rgb(0, 102, 255);
  font-weight: lighter;
  font-size: 0.6rem;
}

.entete {
  display: flex;
  align-items: center;
}

.boutique {
  margin-left: 5px;
}

.search {
  width: 35%;
  height: 20px;
  font-size: 10px;
}

ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}

li > a {
  text-decoration: none;
  font-size: 1rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 640px;
}

.text {
  border: 1px solid;
  font-size: 1.3rem;
  padding: 0 5px;
  background-color: $color6;
}
.defil {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 23px;
}

footer  {
  font-family: "saira-extracondensed", sans-serif;
  font-weight: 400px;
  height: 150px;
}
.av {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  padding: 5px;
  color: $color6;
  background-color: $color5;
}

.grid {
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
  font-family: "saira-extracondensed", sans-serif;
  font-weight: 400px;
  height: 150px;
  background-color: $color5;
  color: $color6;
  font-size: 0.65rem;
  text-align: center;
}

footer p a {
  color: $color6;
}

.d1,
.d2,
.d3,
.d4 {
  padding: 0 25px;
}

.bas {
  width: 23px;
  height: auto;
}

.footer-last {
  background-color: $color6;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.rezo {
  text-align: center;
  color: $color5;
}

i {
  margin: 0 10px 0 10px;
}

.col-lg-2 {
      
  margin-bottom: 1.5rem;
  margin-right: 0px;
  text-align: center;
  
}

img{

  border-radius: 10px;
}
.col-lg-2 h2 {

  font-family: "Sofia", cursive;
  color: red;
  font-size: 18px;
}

.col-lg-2 p {
  margin: 0;
  font-family:"Saira Extra Condensed", sans-serif ;
  font-weight: 500;
  /* margin-right: .4rem;
  margin-left: .4rem; */
}
span{
  font-family: "Saira Extra Condensed", sans-serif ;
  font-size: 16px;
  font-weight: 800;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}




.categorie {
  margin: 40px;
  /* width: 100%;
      display: flex; */
  /*  justify-content: space-evenly; */
}

.col-lg-4 {
  margin-bottom: 1.5rem;
  /*  margin: 0px; */
  align-content: center;
  text-align: center;

}

.col-lg-4 img {

  border-radius: 10px;
}

.col-lg-4 h5 {
  border-radius: 0 50px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Saira Extra Condensed", sans-serif;
  color: red;
  font-size: 30px;
  color: white;
  background-color: black;
}

.col-lg-4 p a {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-top: 0;

}

div p.cat,
  div p.nouv {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 5px;
  }

@media only screen and (max-width: 400px) {
  header {
    position: relative;
    background-color: $color5;
    height: 60px;
  }

  .grand {
    display: none;
  }
  div.bar {
    height: 55px;
  }

  #menu:not(:target) {
    display: none;
  }

  #menu:target {
    display: block;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100px;
  }

  .lien {
    background-color: rgba(0, 0, 0, 0.027);
    opacity: 0.7;
  }
  li > a {
    color: $color4;
    font-weight: 400px;
  }
  h1 {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  .banner {
    background-image: url("../images/photo_1.jpg");
    height: 600px;
  }

  video,ul,.categories, .selection, .defil {
    display: none;
  }
  .burger {
    display: flex;
  }
}

@media only screen and (min-width: 401px) and (max-width: 767.98px) {
  body {
    height: 100vh;
  }

  #menu:not(:target) {
    display: none;
  }

  #menu:target {
    display: block;
    background-color: rgba(0, 0, 0, 0.603);
    width: 200px;
  }

  /* .item {
    display: none;
  } */

  .grand {
    display: none;
  }
  div.bar {
    height: 50px;
  }
  header {
    height: 55px;
    position: fixed;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.7rem;
  }
  ul.liens {
    display: flex;
    flex-direction: column;
  }

  .lien > a {
    color: $color5;
  }
  .lien > a::before {
    font-size: 1.6rem;
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: $color1;
    transition: 0.4s;
  }

  .lien:hover > a::before {
    width: 100%;
    background-color: $color2;
  }

  video,
  .defil,
  .col-lg-2
  .categories
   {
    display: none;
  }

  li {
    background-color: $color4;
    opacity: 0.7;
  }
  .banner {
    background-image: url("../images/fe_8.jpg");
    width: 100%;
  }
  
  .select {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 70px;
    font-family: $font1;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 5px;
  }

  .diapo {
    display: flex;
    animation-duration: 10s;
    animation-name: MesDiapos;
    animation-iteration-count: infinite;
  }

  .carroussel {
    width: 662px;
    overflow: hidden; /*pour cacher le scroll de defilement*/
    margin: auto;
    margin-bottom: 50px;
  }

  @keyframes MesDiapos {
    0% {
      transform: translateX(0px);
    }

    25% {
      transform: translateX(-662px);
    }

    50% {
      transform: translateX(-1324px);
    }

    75% {
      transform: translateX(-1986px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 85px;
    top: 0;
  }

  .burger,
  .petit {
    display: none;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .search {
    width: 400px;
    height: 20px;
    font-size: 15px;
  }
  .banner {
    margin-top: 50px;
    margin-bottom: 1px;
    border-radius: 5px;
    height: 700px;
    background-image: url("../images/wax8.jpg"); 
    background-size: cover;
    width: 100%;
  }

  .vid {
    position: absolute;
    height: 600px;
    top: 130px;
  }
  .selection{
    display: none;
  }
  .categories {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 10px;
  }

  .categories a {
    color: $color6;
    text-decoration: none;
  }

  .image {
    width: 500px;
    border-radius: 5px;
  }

  .femme,
  .fille,
  .accessoires {
    position: relative;
    margin: 10px;
  }

  .femme p,
  .fille p,
  .accessoires p {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 1.5rem;
    width: 120px;
    height: 40px;
    border: 1px solid;
    background-color: $color5;
    text-align: center;
  }

  div p.cat,
  div p.nouv {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 5px;
  }
  img.desktop_img {
    height: auto;
    width: 100px;
    margin: 30px;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
  }

  .text,
  .defil,
  .carroussel {
    display: none;
  }

  ul {
    background-color: $color1;
    opacity: 1;
    display: inline-flex;
    width: 100%;
  }

  li.lien {
    display: flex;
    margin-left: 20px;
    margin-top: 0;
  }

  li:hover {
    background-color: $color2;
  }

  .lien > a {
    font-size: 1.2rem;
    margin: 0 5px;
    color: $color4;
    align-content: center;
  }

  .lien > a::before {
    font-size: 1.6rem;
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: $color1;
    transition: 0.4s;
  }
  .lien:hover > a::before {
    width: 100%;
    background-color: $color4;
    
  }

  .grid > p {
    font-size: 1rem;
  }
}
